.Hero {
  .hero-body {
    // background-image: url('https://www.dropbox.com/s/ykbi1mbv9eram02/StockSnap_Bar.jpg?dl=0');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
}

.SearchBar {
  // background-image: url('https://www.dropbox.com/s/ux5n7xi4xrqansa/StockSnap_Bartender.jpg?dl=0');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}